name: Clang Linux Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        BUILD_TYPE: [Debug]

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Install dependencies
      run: sudo apt install clang-12 clang-tidy libgl-dev

    - name: Python setup
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.0'
        architecture: 'x64'
        
    - name: Install vcpkg
      run: |
        git clone https://github.com/microsoft/vcpkg.git
        .\vcpkg\bootstrap-vcpkg.bat

    - name: Install Conan and Dependencies
      run: |
          .\vcpkg\vcpkg install conan[version=1.61]:x64-windows

    - name: Cache Conan packages
      id: conan-cache
      uses: actions/cache@v2
      with:
        path: '/home/runner/.conan/*'
        key: ${{ runner.os }}${{matrix.BUILD_TYPE}}-conan
        restore-keys: ${{ runner.os }}${{matrix.BUILD_TYPE}}-conan
        
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.BUILD_TYPE}} 

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.BUILD_TYPE}}

    - name: Install
      run: cmake --install /home/runner/work/ChitChat/ChitChat/build

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.BUILD_TYPE}} --output-on-failure
