name: Windows Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2022
    strategy:
      matrix:
        BUILD_TYPE: [Debug]
    
    steps:
    - name : Checkout
      uses: actions/checkout@v2
    
    - name: Python setup
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.0'
        architecture: 'x64'
        
    - name: Get prerequisites
      run: python -m pip install cmake conan==1.61 

    - name: Run Conan CMake Install
      run: conan_cmake_install ...

    - name: Cache Conan packages
      id: conan-cache
      uses: actions/cache@v3
      with:
        path: |
          'C:\Users\runneradmin\.conan\*'
          'C:\.conan\*'
        key: ${{matrix.BUILD_TYPE}}${{ runner.os }}-conan
        restore-keys: ${{matrix.BUILD_TYPE}}${{ runner.os }}-conan

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.BUILD_TYPE}} --output-on-failure
